#ignore all
/*
/*/
!/MONTRAC
/MONTRAC/*
!/MONTRAC/catkin_ws
/MONTRAC/catkin_ws/*
!/MONTRAC/catkin_ws/src
!/MONTRAC/catkin_ws/devel
/MONTRAC/catkin_ws/devel/*
!MONTRAC/catkin_ws/devel/include/
/MONTRAC/catkin_ws/devel/include/vrep_common/*
!MONTRAC/catkin_ws/.catkin_workspace
!MONTRAC/catkin_ws/_catkin_workspace

#except src and includes
!MONTRAC/catkin_ws/devel/include/
!MONTRAC/catkin_ws/src/
!.gitignore
!install.sh
