#ignore all
/*
/*/
!/version_ahmed
/version_ahmed/*
!/version_ahmed/catkin_ws
/version_ahmed/catkin_ws/*
!/version_ahmed/catkin_ws/src
!/version_ahmed/catkin_ws/devel
/version_ahmed/catkin_ws/devel/*
!version_ahmed/catkin_ws/devel/include/
!version_ahmed/catkin_ws/.catkin_workspace
!version_ahmed/catkin_ws/_catkin_workspace

#except src and includes
!version_ahmed/catkin_ws/devel/include/
!version_ahmed/catkin_ws/src/
!.gitignore
!install.sh
